/**
 * Table of Contents Styles
 *
 * Used for PDF export TOC generation.
 */

.pdf-toc {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
  page-break-after: always;
  break-after: page;
}

.pdf-toc .toc-title {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #eeeeee;
  color: #1a1a1a;
}

.pdf-toc .toc-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.pdf-toc .toc-list li {
  margin: 0.5em 0;
  line-height: 1.4;
}

.pdf-toc .toc-level-1 {
  font-weight: 600;
  margin-top: 0.75em;
}

.pdf-toc .toc-level-2 {
  padding-left: 1.5em;
}

.pdf-toc .toc-level-3 {
  padding-left: 3em;
  display: none; /* Hide by default, only show h1/h2 */
}

.pdf-toc .toc-level-4,
.pdf-toc .toc-level-5,
.pdf-toc .toc-level-6 {
  display: none;
}

.pdf-toc .toc-list a {
  color: #0066cc;
  text-decoration: none;
}

.pdf-toc .toc-list a:hover {
  text-decoration: underline;
}
